{% extends "base.html" %}

{% set header_eyebrow_class = 'top-header-2-eyebrow-admin-add' %}
{% set header_heading_class = 'top-header-2-heading-admin-add' %}

{% block title %}{{ title }}{% endblock %}

{% block styles %}
  <link href="/admin-add.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <!-- Page title -->
    <h1 class="page-title page-title-admin-add">Add FAQ Item [ADMIN]</h1>

    <!-- Admin add form -->
    <form class="admin-faq-form" action="{{ url_for('faq_admin_add_post') }}" method="post">
      <div class="admin-form-group">
        <!-- Question field -->
        <h2 class="section-heading">Question</h2>
        <textarea
          class="admin-textfield admin-textfield-question"
          id="admin-add-question"
          name="question"
          placeholder="Enter the FAQ question..."
          minlength="1"
          maxlength="500"
        >{% if form_data %}{{ form_data.question }}{% endif %}</textarea>
      </div>

      <div class="admin-form-group">
        <!-- Answer field -->
        <h2 class="section-heading">Answer</h2>
        <textarea
          class="admin-textfield admin-textfield-answer"
          id="admin-add-answer"
          name="answer"
          placeholder="Provide the detailed answer..."
          minlength="1"
          maxlength="20000"
        >{% if form_data %}{{ form_data.answer }}{% endif %}</textarea>
      </div>

      <div class="admin-form-group">
        <!-- Category field -->
        <h2 class="section-heading">Category</h2>
        <select name="category" id="category" class="faq-dropdown">
          <option value="">Select Category</option>
          {%for item in category_items %}
            <option value="{{ item.id }}"{% if form_data and form_data.category == item.id|string %} selected="true"{% endif %}>{{ item.category_name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="admin-form-group">
        <!-- Sorting priority field -->
        <h2 class="section-heading">Sorting Priority (Lower Number = Higher Priority)</h2>
        <input type="number" name="priority" id="priority" value="5" min="1" max="10" class="admin-input-number" />
      </div>

      <div class="admin-form-actions">
        <!-- Exit button -->
        <a class="admin-exit-button" href="{{ url_for('faq_page') }}" role="button">Exit</a>
        <!-- Submit button -->
        <button class="admin-submit-button" type="submit">Submit</button>
      </div>
    </form>
{% endblock %}
