{% extends "base.html" %}

{% set header_eyebrow_class = 'top-header-2-eyebrow-admin-login' %}
{% set header_heading_class = 'top-header-2-heading-admin-login' %}

{% block title %}{{ title }}{% endblock %}

{% block styles %}
  <link href="/admin-login.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <!-- page title-->
    <h1 class="page-title page-title-admin-login">Admin Login</h1>

    <!-- login container -->
    <div class="login-container">
      <form class="login-form" action="{{ url_for('admin_login_post') }}" method="post">
        <div class="login-form-group">
          <!-- username field -->
          <label class="login-label" for="username">Username</label>
          <input
            class="login-input"
            id="username"
            name="username"
            placeholder="Enter username"
            required="true"
            type="text"
          />
        </div>

        <div class="login-form-group">
          <!-- password field -->
          <label class="login-label" for="password">Password</label>
          <input
            class="login-input"
            id="password"
            name="password"
            placeholder="Enter password"
            required="true"
            type="password"
          />
        </div>

        <div class="login-form-actions">
          <!-- submit button -->
          <button class="login-submit-button" type="submit">Submit</button>
        </div>
      </form>
    </div>
{% endblock %}
