{% extends "base.html" %}

{% set header_eyebrow_class = 'top-header-2-eyebrow-admin-remove' %}
{% set header_heading_class = 'top-header-2-heading-admin-remove' %}

{% block title %}{{ title }}{% endblock %}

{% block styles %}
  <link href="/admin-remove.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <!-- Page title -->
    <h1 class="page-title page-title-admin-remove">Remove FAQ Item [ADMIN]</h1>

    <!-- Warning message -->
    <h2 class="admin-remove-disclaimer">
      Are you sure you want to remove this item? It cannot be undone.
    </h2>

    <!-- Confirmation button group -->
    <div class="admin-remove-actions">
      <form action="{{ url_for('faq_admin_remove_post', faq_id = faq_items[0].id) }}" method="post">
        <button class="admin-remove-button admin-remove-button-yes" type="submit" name="confirm" value="yes">
          Yes, Remove Item
        </button>
        <a class="admin-remove-button admin-remove-button-no" role="button" href="{{ url_for('home') }}">
          No, Keep Item
        </a>
      </form>
    </div>

    <!-- Faq details to be removed -->
    <div class="faq-content">
      <h2 class="section-heading">FAQ Entry ID: {{ faq_items[0].id }}</h2>
      {{ faq_items[0].text | safe }}
    </div>
{% endblock %}
