{% extends "base.html" %}

{% set header_eyebrow_class = 'top-header-2-eyebrow-admin-edit' %}
{% set header_heading_class = 'top-header-2-heading-admin-edit' %}

{% block title %}{{ title }}{% endblock %}

{% block styles %}
  <link href="/admin-edit.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <!-- Page title -->
    <h1 class="page-title page-title-admin-edit">Edit FAQ Item [ADMIN]</h1>

    <!-- Admin edit form -->
    <form class="admin-faq-form" action="{{ url_for('faq_admin_edit_post', faq_id = faq_entry.id) }}" method="post">
      <div class="admin-form-group">
        <!-- Question field -->
        <h2 class="section-heading">Question</h2>
        <textarea
          class="admin-textfield admin-textfield-question"
          id="admin-edit-question"
          name="question"
        >{{ faq_entry.question_text }}</textarea>
      </div>

      <div class="admin-form-group">
        <!-- Answer field -->
        <h2 class="section-heading">Answer</h2>
        <textarea
          class="admin-textfield admin-textfield-answer"
          id="admin-edit-answer"
          name="answer"
        >{{ faq_entry.answer_text }}</textarea>
      </div>

      <div class="admin-form-group">
        <!-- Category field -->
        <h2 class="section-heading">Category</h2>
        <select name="category" id="category" class="faq-dropdown">
          <option value="">Select Category</option>
          {%for item in category_items %}
            <option value="{{ item.id }}"{% if faq_entry.category_id == item.id %} selected="true"{% endif %}>{{ item.category_name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="admin-form-actions">
        <!-- Exit button -->
        <a class="admin-exit-button" href="{{ url_for('faq_page') }}" role="button">Exit</a>
        <!-- Submit button -->
        <button class="admin-submit-button" type="submit">Submit</button>
      </div>
    </form>
{% endblock %}
