{% extends "base.html" %}

{% set header_eyebrow_class = 'top-header-2-eyebrow-chat' %}
{% set header_heading_class = 'top-header-2-heading-chat' %}

{% block title %}{{ title }}{% endblock %}

{% block styles %}
  <link href="/chat.css" rel="stylesheet" />
{% endblock %}

{% block content %}
  <h1 class="page-title page-title-chat">Ask Chatbot</h1>

  <!-- Chat container -->
  <div id="chat-container" class="container">
      <!-- Chat messages -->
      <div id="chat-box">
          <!-- Bot's initial message -->
          <div class="message bot">
              <img src="{{ url_for('static', filename='UMBC_STYLES/dogumbc.png') }}" alt="UMBC Mascot" class="avatar">

              <div class="bubble bot-bubble">How can I help you?</div>
          </div>
      </div>

      <!-- Input area -->
      <div id="input-section">
          <form id="chat-form">
              <input id="user-input" name="message" placeholder="Type your question..." required />
              <button type="submit">Send</button>
          </form>
          <p class="footer-text">Ask Me Anything</p>
      </div>
  </div>
{% endblock %}

{% block page_scripts %}
  <script src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}
