<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin: Remove</title>
    
    <link href="../PROJECT_CSS/AdminRemove.css" rel="stylesheet" />
  </head>
  <!-- body section, contains code for visible parts of the website and scripts -->
  <body>

    <!-- first top header section -->
    <header class="top-header-1">
      <div class="container"> <!-- helper for centering and padding -->
        <a class="UMBC" href="MainPage.html"> <!-- makes clicking on the site logo bring you back to this main page (this is for ease of testing for now) -->
          <img src="../UMBC_STYLES/UMBC-primary-logo-CMYK-on-black.png" /> <!-- UMBC logo image -->
        </a>
      </div>
    </header>

    <!-- second top header section -->
    <section class="top-header-2">
      <div class="top-header-2-content container"> <!-- helpers for style, centering, and padding -->
        <span class="top-header-2-eyebrow top-header-2-eyebrow-admin-remove">College of Engineering and Information Technology</span> <!-- eyebrow text -->
        <h2 class="top-header-2-heading top-header-2-heading-admin-remove">Interactive Help</h2> <!-- heading text -->
      </div>
    </section>

    <!-- top menu section -->
    <nav class="top-menu">
      <div class="container">
        <ul class="top-menu-list"> <!-- describes a list of items in the top menu -->

        <!-- every item here are parts of the top menu list, and each item contains a link to a specific webpage,
          the "#" links are placeholders -->
          <li class="top-menu-item">
            <a class="top-menu-link" href="FAQPage.html">FAQs</a>
          </li>
          <li class="top-menu-item">
            <a class="top-menu-link" href="SearchResultsPage.html">Search Questions</a>
          </li>
          <li class="top-menu-item">
            <a class="top-menu-link" href="#">Use Chatbot</a>
          </li>
          <li class="top-menu-item">
            <a class="top-menu-link" href="#">Contact Us</a>
          </li>
          <li class="top-menu-item">
            <a class="top-menu-link" href="#">Department Website</a>
          </li>
          <li class="top-menu-item">
            <a class="top-menu-link" href="#">How To Use This Tool</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- main content -->
    <main class="main-content container" id="main">
      <!-- page title with placeholder information -->
      <h1 class="page-title page-title-admin-remove">Remove FAQ Item [ADMIN]</h1>
    </main>

    <!-- bottom menu section -->
    <nav class="top-menu top-menu-bottom"> <!-- reused top menu styles with bottom modifier -->
      <div class="container">
        <ul class="top-menu-list"> <!-- describes a list of items in the top menu -->

        <!-- every item here are parts of the top menu list, and each item contains a link to a specific webpage,
          the "#" links are placeholders -->
          <li class="top-menu-item">
            <a class="top-menu-link" href="#">FAQs</a>
          </li>
          <li class="top-menu-item">
            <a class="top-menu-link" href="SearchResultsPage.html">Search Questions</a>
          </li>
          <li class="top-menu-item">
            <a class="top-menu-link" href="#">Use Chatbot</a>
          </li>
          <li class="top-menu-item">
            <a class="top-menu-link" href="#">Contact Us</a>
          </li>
          <li class="top-menu-item">
            <a class="top-menu-link" href="#">Department Website</a>
          </li>
          <li class="top-menu-item">
            <a class="top-menu-link" href="#">How To Use This Tool</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
