{% extends "base.html" %}

{% set header_eyebrow_class = 'top-header-2-eyebrow-admin-remove' %}
{% set header_heading_class = 'top-header-2-heading-admin-remove' %}

{% block title %}Admin: Remove{% endblock %}

{% block styles %}
  <link href="/admin-remove.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <!-- page title-->
    <h1 class="page-title page-title-admin-remove">Remove FAQ Item [ADMIN]</h1>

    <!-- warning message -->
    <h2 class="admin-remove-disclaimer">
      Are you sure you want to remove this item? It cannot be undone.
    </h2>

    <!-- confirmation button group -->
    <div class="admin-remove-actions">
      <button class="admin-remove-button admin-remove-button-yes" type="button">
        Yes, Remove Item
      </button>
      <button class="admin-remove-button admin-remove-button-no" type="button">
        No, Keep Item
      </button>
    </div>

    <!-- FAQ details that would be removed -->

    <h2 class="section-heading">Selected FAQ Content</h2>
    {{ faq_items[0].text | safe }}
{% endblock %}
