<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>VTS FAQs</title>
    
    <link href="FAQPage.css" rel="stylesheet" />
  </head>
  <!-- body section, contains code for visible parts of the website and scripts -->
  <body>

    <!-- first top header section -->
    <header class="top-header-1">
      <div class="container"> <!-- helper for centering and padding -->
        <a class="UMBC" href="index.html"> <!-- makes clicking on the site logo bring you back to this main page (this is for ease of testing for now) -->
          <img src="{{ url_for('static', filename='UMBC_STYLES/UMBC-primary-logo-CMYK-on-black.png') }}" /> <!-- UMBC logo image -->
        </a>
      </div>
    </header>

    <!-- second top header section -->
    <section class="top-header-2">
      <div class="top-header-2-content container"> <!-- helpers for style, centering, and padding -->
        <span class="top-header-2-eyebrow top-header-2-eyebrow-faq">College of Engineering and Information Technology</span> <!-- eyebrow text -->
        <h2 class="top-header-2-heading top-header-2-heading-faq">Interactive Help</h2> <!-- heading text -->
      </div>
    </section>

    <!-- top menu section -->
    <nav class="top-menu">
      <div class="container">
        <ul class="top-menu-list"> <!-- describes a list of items in the top menu -->
          {% for item in menu_items %}
          <li class="top-menu-item">
            <a class="top-menu-link" href="{{item.url}}">{{ item.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>

    <!-- main content -->
    <main class="main-content container" id="main">
      <!-- page title with placeholder information -->
      <h1 class="page-title page-title-faq">
        Frequently Asked Questions (FAQ)
      </h1>
      {% for item in faq_items %}
        {{ item | safe }}
      {% endfor %}
    </main>

    <!-- bottom menu section -->
    <nav class="top-menu top-menu-bottom"> <!-- reused top menu styles with bottom modifier -->
      <div class="container">
        <ul class="top-menu-list"> <!-- describes a list of items in the top menu -->
          {% for item in menu_items %}
          <li class="top-menu-item">
            <a class="top-menu-link" href="{{item.url}}">{{ item.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </body>
</html>
