<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Interactive Help &#8211; Department of Computer Science and Electrical Engineering &#8211; UMBC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="data:," rel="icon"> <!-- TODO: UMBC icon goes here -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Note that JavaScript will also go under the /static directory, just like the CSS. -->
  </head>
  <body>
    <a href="https://www.csee.umbc.edu/">
      <h2> UMBC CSEE Department </h2>
    </a>
    <a href="index.html">
      <h2> Interactive Help </h2>
    </a>
    {{ page_body_text|safe }}
  </body>
</html>
